<div class="input-wrapper">
  <input class="input" type="text" placeholder="search" />
</div>
<div class="showSpinner" *ngIf="showSpinner">
  <img class="loading" src="./assets/loading.gif" alt="loading"/>
</div>
<div class="carousel-wrapper">
  <ngx-slick *ngIf="artistsArr" class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
    <div ngxSlickItem *ngFor="let artist of artistsArr" class="slide">
      <img class="img" src={{artist.image}} alt="" width="100%">
      <div class="name">{{artist.name}}</div>
    </div>
  </ngx-slick>
</div>
